body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: none;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}