.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.socials__container {
    background-color: #e7e6e2;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.socials {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-top: 2px solid #60605f;
    color: #515357;
}

.links {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    border-bottom: 1px solid #cdcbd0;
}

.links__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.links__item {
    text-decoration: none;
    color: #909090;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "MontserratRegular";
}

.newsletter__input {
    border-radius: 0 !important;
}

.newsletter__input > input {
   padding-top: 10px;
   padding-bottom: 10px;
  
}

.newsletter__input > input::placeholder {
    color: #868686;
    opacity: 1;
    font-weight: bold;
}

.sponsors {
    display: none;
}

@media screen and (min-width:600px) {
    .links {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 70px;
    }
    .links__container {
        text-align: left;
        max-width: 300px;
    }
}

@media screen and (min-width:800px) { 
    .sponsors {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    
    .sponsors__image {
        height: 50px;
        object-fit: contain;
    }
}